wheel==0.36.2
selenium==3.141.0
bs4==0.0.1
pandas==1.1.4
requests==2.25.0
jupyter==1.0.0
lxml==4.6.1
twitter==1.18.0
python-dotenv==0.15.0
tqdm==4.53.0
seaborn==0.11.0
numpy==1.19.3
git+https://github.com/twintproject/twint.git@master#egg=twint
git+https://github.com/yimingStar/twitter-scraper.git@fix/profile-error#egg=twitter-scraper
matplotlib~=3.3.3
nltk==3.5
transformers==3.5.1
click==7.1.2
scikit-learn==0.23.2
tweet-preprocessor==0.6.0
plotly==4.14.1
regex==2020.11.13
